body {
  background-color: #b3a1b9;
  display: flex;
  margin: 0 auto;
}
input {
  display: none;
}
.photo {
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 0;
  height: 0;
}
#food {
  background: url("./asset/img/food.jpg");
}
#people {
  background: url("./asset/img/people.jpg");
}
#studying {
  background: url("./asset/img/studying.jpg");
}

#suffering {
  background: url("./asset/img/suffering.jpg");
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  padding-top: 40px;
}

.text {
  font-size: 0px;
  text-align: left;
}

.labels {
  display: flex;
  gap: 10px;
  justify-content: end;
}
label {
  box-sizing: border-box;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.span {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #49296a;
  background-color: #49296a;
  border-radius: 100%;
}
#input-for-food:checked ~ .labels label:nth-child(1) .span,
#input-for-people:checked ~ .labels label:nth-child(2) .span,
#input-for-studying:checked ~ .labels label:nth-child(3) .span,
#input-for-suffering:checked ~ .labels label:nth-child(4) .span {
  background-color: transparent;
}

/* #input-for-food:checked ~ .labels label:nth-child(1),
#input-for-people:checked ~ .labels label:nth-child(2),
#input-for-studying:checked ~ .labels label:nth-child(3),
#input-for-suffering:checked ~ .labels label:nth-child(4) {
  background-color: transparent;
} */

#input-for-food:checked ~ #food,
#input-for-people:checked ~ #people,
#input-for-studying:checked ~ #studying,
#input-for-suffering:checked ~ #suffering {
  width: 1000px;
  height: 750px;
  /* font-size: 25px; */
}
#input-for-food:checked ~ .food,
#input-for-people:checked ~ .people,
#input-for-studying:checked ~ .studying,
#input-for-suffering:checked ~ .suffering {
  font-size: 25px;
}
/* .input__wrapper > #input-for-food:checked ~ .food,
.input__wrapper > #input-for-people:checked ~ .people,
.input__wrapper > #input-for-studying:checked ~ .studying,
.input__wrapper > #input-for-suffering:checked ~ .suffering {
  width: 1000px;
  height: 750px;
  font-size: 25px;
} */
